.list-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem .5rem;
  grid-template-rows: 400px;
  grid-auto-flow: dense;
  width: 100%;
  height: 100%;
  padding: .5rem;

}

.list {
  box-shadow: $shadow;
  border-radius: 4px;
  overflow: hidden;
  height: 400px;
  // padding: .5rem;
  border: 3px solid $text-black;
  display: grid;
  grid-template-rows: 80px 320px;

  .list-header {
    // background-color: $accent;
    background: $text-black;
    color: white;
    padding: .25em .5rem;
    // border-radius: 8px;
    // border-radius: 4px 4px 16px 16px;

    .title {
      display: flex;
      cursor: pointer;
      gap: .10em;
      align-items: center;
      color: $text-white;

      img {
        width: 25px;
        height: 25px;
      }
    }

    .header-container {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: .9rem;
      justify-content: space-between;

      color: $text-white-secondary;

      .list-user {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 150px;
      }

      .list-date {
        font-size: .75rem;
      }


    }
  }

  .list-items {
    display: flex;
    gap: .25em;
    flex-direction: column;

    padding: .5rem;
    overflow-y: auto;

    .list-details {
      display: flex;
      gap: .5rem;
      align-items: center;
      justify-content: space-between;

    }
    
    .list-details-completed {
      color: $accent;
    }

    .list-item {
      display: flex;
      align-items: flex-start;
      cursor: pointer;
      border: 2px solid $text-black;
      border-radius: 4px;

      .checkbox-wrapper-4 {
        width: 100%;
        height: 100%;
      }

      .cbx {
        width: 100%;
        height: 100%;

      }

      .checkbox-wrapper-4 * {
        box-sizing: border-box;
      }

      .checkbox-wrapper-4 .cbx {
        -webkit-user-select: none;
        user-select: none;
        cursor: pointer;
        padding: 6px 8px;
        overflow: hidden;
        transition: all 0.2s ease;
        display: inline-block;
      }

      .checkbox-wrapper-4 .cbx:not(:last-child) {
        margin-right: 6px;
      }

      .checkbox-wrapper-4 .cbx span {
        float: left;
        vertical-align: middle;
        transform: translate3d(0, 0, 0);
      }

      .checkbox-wrapper-4 .cbx span:first-child {
        position: relative;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        transform: scale(1);
        border: 1px solid #cccfdb;
        transition: all 0.2s ease;
        box-shadow: 0 1px 1px rgba(0, 16, 75, 0.05);
      }

      .checkbox-wrapper-4 .cbx span:first-child svg {
        position: absolute;
        top: 3px;
        left: 2px;
        fill: none;
        stroke: #fff;
        stroke-width: 2;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-dasharray: 16px;
        stroke-dashoffset: 16px;
        transition: all 0.3s ease;
        transition-delay: 0.1s;
        transform: translate3d(0, 0, 0);
      }

      .checkbox-wrapper-4 .cbx span:last-child {
        padding-left: 8px;
        line-height: 18px;
      }

      .checkbox-wrapper-4 .cbx:hover span:first-child {
        border-color: $accent;
      }

      .checkbox-wrapper-4 .inp-cbx {
        position: absolute;
        visibility: hidden;
      }

      .checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child {
        background: $accent;
        border-color: $accent;
        animation: wave-4 0.4s ease;
      }

      .checkbox-wrapper-4 .inp-cbx:checked+.cbx span:first-child svg {
        stroke-dashoffset: 0;
      }

      .checkbox-wrapper-4 .inp-cbx:checked+.cbx {
        background-color: $accent;
      }

      .checkbox-wrapper-4 .inline-svg {
        position: absolute;
        width: 0;
        height: 0;
        pointer-events: none;
        user-select: none;
      }

      @media screen and (max-width: 640px) {
        .checkbox-wrapper-4 .cbx {
          width: 100%;
          display: inline-block;
        }
      }

      @-moz-keyframes wave-4 {
        50% {
          transform: scale(0.9);
        }
      }

      @-webkit-keyframes wave-4 {
        50% {
          transform: scale(0.9);
        }
      }

      @-o-keyframes wave-4 {
        50% {
          transform: scale(0.9);
        }
      }

      @keyframes wave-4 {
        50% {
          transform: scale(0.9);
        }
      }

      .bg-active {
        background-color: $accent;
      }
    }


  }
}

.add-list-item {
  display: grid;
  grid-template-columns: 20% auto;
  gap: .5rem;
  
  .input-remove-btn {
    border: 2px solid $red;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 100ms ease-in-out;

    &:active {
      scale: .9;
    }

    &:hover {
    border: 4px solid $red;
      
    }
  }



}

.list-detail-main {
  flex-direction: column;
  gap: 1rem;


  .list {
    max-width: 400px;
    width: 100%;
  }

}

.skeleton-card {  
  box-shadow: 0 4px 5px #00000030;
  max-width: 400px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(30deg, $text-white-secondary, $text-black-secondary);
  background-size: 300%;
  animation: loading_fade 1s ease-in-out infinite forwards alternate;

  .skeleton-header {
      background-color: $text-black-secondary;
      width: 100%;
      height: 15%;
  }
}

@keyframes loading_fade {
  0% {
    background-position: 0%;

  }
  100% {
    background-position: 100%;

  }
}

@media (max-width: 600px) {

  .main {
    grid-template-rows: auto;

  }

  .list {
    min-height: 400px;
    width: 100%;
    height: 100%;
    grid-template-rows: 80px auto;

  }
}