@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jomolhari&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$btn-hover: #53D46087;
$accent: #53D460;

$secondary-btn:#d4b653;
$secondary-btn-hover:#d4b65387;

$background: #FFFFFF;
$red: #E32323;

$text-black: #000000;
$text-white: #FFF;

$text-black-secondary: #00000075;
$text-white-secondary: #FFFFFF75;

$shadow: 0 4px 5px #00000030;

$ff-accent: "Jomolhari", serif;
$ff-main: "Poppins", serif;
